/* 
Media Query

Mobile devices: 319px - 480px
Ipads and Tablets: 481px - 1200px
Laptos: 1201px - 1600px
Desktops: 1601px and more.

*/

/* Responsividade para dispositivos móveis */
/*Mobile Devices:*/
@media (min-width: 200px) and (max-width: 769px) {
   
 /* Desativado Desktop + Ativação Mobile */
.mediaquery_desktop{
  display: none;
 }
  
/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

body{
  background-color:#020817;
  margin: 0;
  color: white; /* temporário */
}

main{
margin: auto;
}

header {
  background-color: transparent;
  color: white;
  width: 100%;
  top: 0px;
}

/* Section Geral */
.sections_general{
width:100%;
scroll-margin-top: 100px;
   
}

/* Sublinhado dos Sections */
.underline_blue{
  text-decoration: underline;
  text-decoration-color: #0270FF;
  color: #fafbfc;
}

/* Menu Mobile */

.fixed-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 0;
  width: 20px; 
}


.mobile-header {
    padding: 10px 15px;
    background-color: transparent;
  }

  .logo_mobile {
    font-family: 'Jaro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0270FF;
    text-decoration: none;
  }

  .mobile-header a{
  text-decoration: none;
  
}
  #menu-toggle {
    float: right;
    font-size: 20px;
    cursor: pointer;
    width: 0;
    background-color: transparent;
    color: white;
    border: none;
  }


#mobile-menu {
  background-color: rgba(2, 8, 23, 0.9);
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  z-index: 1000;
}

#mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mobile-menu li {
  border-radius: 2px;
  border-top: 0.8px solid #0270FF;
  border-bottom: 0.8px solid #0270FF;
  border-left: 0.8px solid #0270FF;
  border-right: 0.8px solid #0270FF;
}

#mobile-menu a {
  text-align: center;
  font-family: 'Jaro', sans-serif;
  text-decoration: none;
  display: block;
  border-radius: 1px;
  padding: 10px;
  color: rgb(247, 246, 246);
}

#mobile-menu a:hover {
  color: black;
}

#mobile-menu a:hover {
  background-color: #2d80ec;
}

.hidden {
  display: none;
}
/* END Menu Mobile */


/* Div Home */

  .content_home {
    margin: 30px;
    max-width: 90%;           /* Evita que fique muito largo */
    font-family: 'Jaro';
  }

#home{
  scroll-margin-top: 100px;
  margin-top: 100px;
  font-size:18px;
}

#home span{
  color:#0270FF;
  font-size:20px;
  line-height: 20px;
}

section#home u{
  
  color:#0270FF;
}

section#home p{
  font-family: "Zen Antique Soft", serif;
  font-size: 15px;
  color: rgb(177, 175, 175);
}


/* My Picture and Social Media */
.my_profile{
  text-align: center;
}


.my_profile img{
  text-align: center;
  width: 150px;
  margin: 10px;
  margin-top: 60px;
  border-radius: 50px;
  cursor: pointer;
}

.my_profile a{
  color:#0270FF;
  text-decoration: none;
  font-family: 'Jaro';
  padding: 0.5em;
}

.my_profile a:hover{
  color:#57A3FF;
  transition-duration: 0.5s;  
}

.social_media {
  margin-top: 10px;
}
/* END DIV HOME */



/* Div AboutMe */

#aboutme {
  scroll-margin-top: 100px;
  margin: 30px;
  margin-top: 40px;
}

#aboutme h2{
  color: rgb(255, 255, 255);
  font-family: 'Jaro';
  font-size: 30px;
}

#aboutme h3{
  font-family: "Zen Antique Soft", serif;
  display: flex;
  align-items: center; /* alinha verticalmente ícone e texto */
  gap: 10px; /* espaço entre o ícone e o texto */
  font-size: 1.2rem;
  color: white;
}

#aboutme p{
  font-size: 14px;
  font-family: "Zen Antique Soft", serif;
  color: rgb(192, 191, 191);
  margin-top: 18px;
}

.content_biography{
  display: grid;
  margin: 30px;
  gap: 30px;
}

.content_biography h3{
  gap: 10px;
  font-size: 1.2rem;
  color: white;
  width: 0;
}

/* section EDUCATION */
.section_firstbox_aboutme{
  border: 0.5px solid #57A3FF;
  border-radius: 10px;
  margin-top: 0rem;
  padding: 1.5rem;

}

.section_firstbox_aboutme p{
  color: rgb(192, 191, 191);
  font-family: 'Courier New', Courier, monospace;
}

.education_icon{
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

/* section  EXPERIENCE */

.section_secondbox_aboutme{
  border: 0.5px solid #57A3FF;
  border-radius: 10px;
  margin-top: 0rem;
  padding: 1.5rem;
  
}

.section_secondbox_aboutme p{
  color: rgb(192, 191, 191);
  font-family: 'Courier New', Courier, monospace;
}

.experience_icon{
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

/* END Div AboutMe */

/* Div Projects */
#projects{
  scroll-margin-top: 10px;
  margin: 30px;
}

#projects h2{
  color: rgb(255, 255, 255);
  font-family: 'Jaro';
  font-size: 30px;
}

#projects p{
  font-size: 14px;
  font-family: "Zen Antique Soft", serif;
  color: rgb(192, 191, 191);
  margin-top: 20px;
}
/* End Div Projects */


/* Div Skills */
#skills{
  scroll-margin-top: 100px;
  margin: 30px;
  margin-top: 60%;
}

#skills h2{
  color: rgb(255, 255, 255);
  font-family: 'Jaro';
  font-size: 30px;
}

#skills p{
  font-size: 14px;
  font-family: "Zen Antique Soft", serif;
  color: rgb(192, 191, 191);
  margin-top: 20px;
}
/* End Div Skills */


/* Div Contact */
#contact{
  scroll-margin-top: 100px;
  margin: 30px;
  margin-top: 60%;

}

#contact h2{
  color: rgb(255, 255, 255);
  font-family: 'Jaro';
  font-size: 30px;
  }


#contact p{
  font-size: 14px;
  font-family: "Zen Antique Soft", serif;
  color: rgb(192, 191, 191);
  margin-top: 20px;
}
/* End Div Contact */



/* Footer ( Rodapé) */

footer{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  color:#000000;
  background-color:#2d80ec;
  width: 110%;
  margin-top: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer p{
  color: white;
}

footer a{
  text-decoration: none;
  color:#000000;
}







/* Carrossel Project Teste */


.carousel {
      width: 90%;
      max-width: 800px;
      margin: 50px auto;
      overflow: hidden;
      position: relative;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .carousel-track {
      display: flex;
      height: 60vh;
      transition: transform 0.5s ease-in-out;
      background-color: rgb(228, 221, 221);
    }

    
    .carousel-item {
      min-width: 100%;
      text-align: center;
      cursor: pointer;
    }
    

.carousel_section1{
    width: 100%;
    margin-top: 5%;
}

.carousel_section1 span{
  margin-top: 10%;
}

    .carousel-item h1{
      color: rgb(0, 0, 0);
      font-family: 'Zen'
    }

    .carousel-item a{
      text-decoration: none;
      cursor: pointer;
    }

    .carousel-item img {
      width: 300px;
      justify-items: center;
      height: auto;
      margin-top: 2%;
      border-radius: 8px;
      
      transition: transform 0.3s ease;
    }

    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0,0,0,0.5);
      color: white;
      border: none;
      padding: 15px;
      font-size: 18px;
      cursor: pointer;
      z-index: 2;
      border-radius: 50%;
    }

    #prev {
      left: 10px;
    }

    #next {
      right: 10px;
    }

    .carousel-button:hover {
      background-color: rgba(0,0,0,0.7);
    }

    /* Modal fullscreen */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      z-index: 1000;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .modal-content {
      background-color: white;
      padding: 20px;
      max-width: 90%;
      max-height: 90%;
      border-radius: 10px;
      overflow: auto;
      text-align: center;
    }

    .modal-content img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    .modal-close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 30px;
      color: white;
      cursor: pointer;
      z-index: 1001;
    }

    
    .carousel-item:hover img{
    transform: scale(1.03);
    }


  }  
    