/* 
Media Query

Mobile devices: 319px - 480px
Ipads and Tablets: 481px - 1200px
Laptos: 1201px - 1600px
Desktops: 1601px and more.

*/

/* Responsividade para dispositivos móveis */
/*Mobile Devices:*/
@media (min-width: 200px) and (max-width: 769px) {
   
 /* Desativado Desktop + Ativação Mobile */
.mediaquery_desktop{
  display: none;
 }
  
/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

body{
  background-color:#020817;
  margin: 0 ;
  color: white; /* temporário */
}

main{
margin: auto;
}

header {
  background-color: transparent;
  color: white;
  width: 100%;
  top: 0px;
}

/* Section Geral */
.sections_general{
width: auto;
margin: 20px;
scroll-margin-top: 100px;
}

/* Sublinhado dos Sections */
.underline_blue{
  text-decoration: underline;
  text-decoration-color: #0270FF;
  color: #fafbfc;
}

/* Menu Mobile */

.fixed-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 0;
  width: 20px; 
}


.mobile-header {
    padding: 10px 15px;
    background-color: transparent;
  }

  .logo_mobile {
    font-family: 'Jaro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0270FF;
    text-decoration: none;
  }

  .mobile-header a{
  text-decoration: none;
  
}
  #menu-toggle {
    float: right;
    font-size: 20px;
    cursor: pointer;
    width: 0;
    background-color: transparent;
    color: white;
    border: none;
  }


#mobile-menu {
  background-color: rgba(2, 8, 23, 0.9);
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  z-index: 1000;
}

#mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mobile-menu li {
  border-radius: 2px;
  border-top: 0.8px solid #0270FF;
  border-bottom: 0.8px solid #0270FF;
  border-left: 0.8px solid #0270FF;
  border-right: 0.8px solid #0270FF;
}

#mobile-menu a {
  text-align: center;
  font-family: 'Jaro', sans-serif;
  text-decoration: none;
  display: block;
  border-radius: 1px;
  padding: 10px;
  color: rgb(247, 246, 246);
}

#mobile-menu a:hover {
  color: black;
}

#mobile-menu a:hover {
  background-color: #2d80ec;
}

.hidden {
  display: none;
}
/* END Menu Mobile */


/* Div Home */

  .content_home {
    margin: 20px;
    max-width: 90%;           /* Evita que fique muito largo */
    font-family: 'Jaro';
  }

#home{
  scroll-margin-top: 100px;
  margin-top: 100px;
  font-size:18px;
}

#home span{
  color:#0270FF;
  font-size:20px;
  line-height: 20px;
}

section#home u{
  
  color:#0270FF;
}

section#home p{
  font-family: "Zen Antique Soft", serif;
  font-size: 15px;
  color: rgb(177, 175, 175);
}


/* My Picture and Social Media */
.my_profile{
  text-align: center;
}


.my_profile img{
  text-align: center;
  width: 150px;
  margin: 10px;
  margin-top: 60px;
  border-radius: 50px;
  cursor: pointer;
}

.my_profile a{
  color:#0270FF;
  text-decoration: none;
  font-family: 'Jaro';
  padding: 0.5em;
}

.my_profile a:hover{
  color:#57A3FF;
  transition-duration: 0.5s;  
}

.social_media {
  margin-top: 10px;
}
/* END DIV HOME */



/* Div AboutMe */

#aboutme {
  scroll-margin-top: 100px;
  margin-top: 30%;
}

#aboutme h2{
  color: rgb(255, 255, 255);
  font-family: 'Jaro';
  font-size: 30px;
}

#aboutme h3{
  font-family: "Zen Antique Soft", serif;
  display: flex;
  align-items: center; /* alinha verticalmente ícone e texto */
  gap: 10px; /* espaço entre o ícone e o texto */
  font-size: 1.2rem;
  color: white;
}

#aboutme p{
  font-size: 14px;
  font-family: "Zen Antique Soft", serif;
  color: rgb(192, 191, 191);
  margin-top: 18px;
}

.content_biography{
  display: grid;
  gap: 30px;
  margin-top: 30px;
}

.content_biography h3{
  gap: 10px;
  font-size: 1.2rem;
  color: white;
  width: 0;
}

/* section EDUCATION */
.section_firstbox_aboutme{
  border: 0.5px solid #57A3FF;
  border-radius: 10px;
  margin-top: 0rem;
  padding: 1.5rem;

}

.section_firstbox_aboutme p{
  color: rgb(192, 191, 191);
  font-family: 'Courier New', Courier, monospace;
}

.education_icon{
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

/* section  EXPERIENCE */

.section_secondbox_aboutme{
  border: 0.5px solid #57A3FF;
  border-radius: 10px;
  margin-top: 0rem;
  padding: 1.5rem;
  
}

.section_secondbox_aboutme p{
  color: rgb(192, 191, 191);
  font-family: 'Courier New', Courier, monospace;
}

.experience_icon{
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

/* END Div AboutMe */

/* Div Projects */
#projects{
  scroll-margin-top: 10px;
  margin-top: 20%;
}

#projects h2{
  color: rgb(255, 255, 255);
  font-family: 'Jaro';
  font-size: 30px;

}

#projects p{
  font-size: 14px;
  font-family: "Zen Antique Soft", serif;
  color: rgb(192, 191, 191);
  margin-top: 20px;
}
/* End Div Projects */


/* Div Skills */
#skills{
  scroll-margin-top: 100px;
  margin-top: 60%;
}

#skills h2{
  color: rgb(255, 255, 255);
  font-family: 'Jaro';
  font-size: 30px;
}

#skills p{
  font-size: 14px;
  font-family: "Zen Antique Soft", serif;
  color: rgb(191, 191, 192);
  margin-top: 20px;
}

.skill_test{
  display: grid;
  gap: 20px;
}


/* Skill General Effects */

.skill_section{
  border: 0.5px solid #57A3FF;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1.5rem;
}

.skill_section h3{
  width: auto;
  font-size: 17px;
  font-family: "Zen Antique Soft", serif;
/* espaçamento ao redor do texto */
  padding-top: .50rem;
  padding-bottom: .50rem;
  padding-left: .20rem;
  padding-right: .20rem;
}

.tittle_skill{
  display: flex;
}

.skill_attributes{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.skill_attributes span{
  font-family: "Zen Antique Soft", serif;
  font-size: 14px;
  color:#c6c8ca;
  border-radius: 10px;
  border: 0.5px solid #57A3FF;
  background-color: rgb(2, 8, 23);
  /* espaçamento ao redor do texto */
  padding-top: .35rem;
  padding-bottom: .35rem;
  padding-left: .75rem;
  padding-right: .75rem;
}
/* End Div Skills */


/* Div Contact */
#contact{
  scroll-margin-top: 100px;
  margin-top: 20%;

}

#contact h2{
  color: rgb(255, 255, 255);
  font-family: 'Jaro';
  font-size: 30px;
  }


#contact p{
  font-size: 14px;
  font-family: "Zen Antique Soft", serif;
  color: rgb(192, 191, 191);
  margin-top: 20px;
}

/* Contact Forms */
.form_contact{
  margin-top: 2rem;
  border: 0.5px solid #57A3FF;
  border-color: #1e52d6;
  border-radius: 10px;
  padding: 2rem;
  font-size: 15px
}

.form_content{
  box-sizing: border-box;
  display: grid;
  padding: 0.5rem;
}

.form_content label{
  color: rgb(192, 191, 191);
  font-family: "Zen Atique Soft", serif;

}

.form_content input{
  background-color: #020817;
  border-color: #0270FF;
  border-radius: 5px;
  font-family: "Zen Atique Soft", serif;
  font-size: 15px;
  color: rgb(192, 191, 191);;
  margin: 0.5rem;
  padding: 10px;
}

.form_contact textarea{
  background-color: #020817;
  border-color:#0270FF;
  border-radius: 10px;
}

.form_button{
  margin-top: 2rem;
  text-align: center;
}

.button_send_message{
  color: #000000;
  font-family: "Zen Atique Soft", serif;
  background-color: #0270FF;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
}


/* End Div Contact */



/* Footer ( Rodapé) */
footer{
  font-family: "Zen Atique Soft", serif;
  text-align: center;
  color:#000000;
  background-color:#2d80ec;
  width: 110%;
  margin-top: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer p{
  color: rgb(8, 8, 8);
}

footer a{
  text-decoration: none;
  color:#000000;
}




}