/* Reset básico */
* {
    margin: 0;
    padding: 0;
}


body{
  background-color:#020817;
}


/* Menu de Navegação */
nav {
  display: flex;
  justify-content: flex-end; /* Alinha os itens à direita */
  align-items: center;        /* Centraliza verticalmente */
  height: 50px;
  width: 100%;
  background: rgba(2, 8, 23, 0.5);
  position: fixed;
  top: 0;
  right: 20px;
}

a {
  padding: 10px;
  text-decoration: none;
  font-family: 'Jaro', sans-serif;
  color: rgb(255, 249, 249);
}

a:hover{
  color: #2d80ec;
}

i {
  margin-top: 10px;
  padding-left: 10px;
}

span {
  margin-right: auto; /* Joga o logo (ou GG.) para a esquerda */;
  font-size: 28px;
  font-family: 'Jaro', sans-serif;
  color: #0270FF;
}
/* Fim do Menu de Navegação */

/* Seção Home */
.content_home{
  margin-top: 20%;
  margin-left: 35%;
  justify-content: center;
  font-family: 'Jaro';
}

.content_home h5{
  color: white;
  font-size: 20px;
}


.content_home h3{
  color: white;
  font-size: 30px;
  line-height: 18px;
}

.content_home u{
  color:#0270FF
}
/* Fim Seção Home */