/* Reset básico */
* {
    margin: 0;
    padding: 0;
}


body{
  background-color:#020817;
}


/* Menu de Navegação */
.Menu{
  display: flex;
  justify-content:space-between;
  width: 100%;
  top: 0;
  background: rgba(2, 8, 23, 0.576);
  
}

.nav_links {
  text-decoration: none;
  font-family: 'Jaro', sans-serif;
  margin-right: 20px;
}

.nav_links a {
  text-decoration: none;
  font-family: 'Jaro', sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.nav_links a:hover {
  color: #2d80ec;
}

i {
  padding-left: 10px;
}

/*Logo*/
.logo {
  display: flex;
  font-size: 28px;
  font-family: 'Jaro', sans-serif;
  margin-left: 60px;
  color: #0270FF;
}

/*Dark-Light Mode*/
.material-symbols-outlined {
  color: #0270FF;
  display: flex;
  margin:auto;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}


/* Fim do Menu de Navegação */



/* Seção Home Div*/
.content_home{
  justify-items: center;
  font-family: 'Jaro';
  margin-top: 20%;
}


.content_home h2{
  font-family: 'Courier New', Courier, monospace;
  color: gray;
}

.content_home h3{
  gap: 5px;
  color: white;
  font-size: 30px;
  

}

.content_home u{
  color:#0270FF;
  padding-right: 20px;
}

.content_home h5{
  color: rgb(252, 252, 252);
  font-size: 20px;
  
}


/* Fim Seção Home & DIV */


/* Seção Sobre mim & Div */
section#aboutme{
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 30%;
  width: 70%;
  font-family: 'Jaro';
}

.content_aboutme{
  color: #dddddd;
  margin: auto;
  width: 70%px;
}

/* Seção Skills */
section#skills{
  color: rgb(255, 255, 255);
  padding-top: 30%;
  margin: auto;
  width: 70%;
  font-family: 'Jaro';
}

/* Seção Projetos */


/* Seção Contato */


/* Rodapé ( footer) */