/* 
Media Query

Mobile devices: 319px - 480px
Ipads and Tablets: 481px - 1200px
Laptos: 1201px - 1600px
Desktops: 1601px and more.

*/

/* Responsividade para dispositivos móveis */
/*Mobile devices:*/
@media (min-width: 319px) and (max-width: 480px) {
    /* Ajusta o menu */
    .Menu_Nav {
        flex-direction:column;
        padding: 10px;
        position: relative;
    }
  
    .logo_item {
      margin: 0;
      flex-direction: column;
      font-size: 24px;
    }
  
    .nav_links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
  
    .nav_links a {
      padding: 8px;
      font-size: 18px;
    }
    
  
    /* Ajusta a seção home */
    .content_home {
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      text-align: center;
    }
  
    .my_profile {
      width: 80%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .my_profile img {
      width: 100%;
      max-width: 200px;
      border-radius: 30px;
    }
  
    /* Seção "Sobre mim" */
    #aboutme,
    #projects,
    #skills {
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .content_biography {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .section_firstbox_aboutme,
    .section_secondbox_aboutme {
      width: 50%;
      padding: 1em;
      height: auto;
    }
  
    main {
      width: 100%;
    }
  
    section#contact {
      width: 90%;
    }
  }

