/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    background-color: #1e234d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding-top: 40px;
}

/* Container do menu */
.container_menu {
    font-family: "Audiowide", sans-serif;   
    position:sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 15px;
    background-color: #52a052;
    border: 2px solid #333;
    border-radius: 10px;
    width: 560px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 180px; /* Isso você pode até tirar, se quiser que o conteúdo venha colado logo abaixo */
}

/* Estilo da navegação */
nav {
  display: flex;
  gap: 30px;
}

/* Estilo dos links */
nav a {
  text-decoration: none;
  color: #000000;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

nav a:hover {
  background-color: #1e234d;
  color: #52a052;
}



.container_home {
    display: flex;
    align-items: center;
    height: 50vh; /* Ajusta conforme necessário */
    text-align:justify;
    position: relative;
  }
  
  .content_biography {
    display: flex;
    position: relative;
    display: inline-block;
  }
  
  .content_biography h5,
  .content_biography p {
    position: absolute;
    top: 20%; /* Ajuste fino */
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0); /* ou outra cor que contraste com o fundo da imagem */
    z-index: 2;
  }

  .content_biography h6{
    text-align: center;
    
  }
  
  .content_biography p {
    top: 40%; /* abaixo do h5 */
  }
  
  .content_biography img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
    margin-bottom: 50px;
  }


/* Sections Content */

  .section_projects {
    height: 450px;
    width: 800px;
    border-radius: 15px;
    background-color: #52a052;
    margin-top: 200px;
    transition: all 0.8s ease; /* Transição suave */

    
}

.section_degrees {
  height: 450px;
  width: 800px;
  border-radius: 15px;
  background-color: #52a052;
  margin-top: 200px;
  transition: all 0.8s ease; /* Transição suave */
}

.section_experiences {
  height: 450px;
  width: 800px;
  border-radius: 15px;
  background-color: #52a052;
  margin-top: 200px;
  transition: all 0.8s ease; /* Transição suave */
}



footer {
  color: #52a052;
  margin-top: 100px;
}